
/* 

-------------------------------------------------------------

SITE OF THE DAY

*/

#awwwards { position:absolute; top:100px; z-index:9999; }

#awwwards.right { right:0; }

#awwwards a { display:block; width:70px; height:105px; text-indent:-8000px; background-repeat:no-repeat; background-position: 0 0; overflow:hidden; }

#awwwards.right.black a { background-image:url(../img/ribbons/awwwards_sotd_black_right.png); }

@media (max-width: 767px) {

	#awwwards { display:none; }

}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {

	#awwwards a { -moz-background-size: 70px 105px; -ie-background-size:70px 105px; -o-background-size:70px 105px; -webkit-background-size:70px 105px; background-size:70px 105px; }
	
	#awwwards.right.black a { background-image:url('ribbons/awwwards_sotd_black_right2x.png'); }
	
}



/* 

-------------------------------------------------------------

NAVIGATION

*/

#primary-nav { background:#e7e7e7 url(../img/bg-header.jpg) top left repeat-x; height:1px; }

.logo-small { position:absolute; left:0px; top:5px; width:80px; height:50px; }

#primary-nav .logo-small { display:none; }

#logo { width:280px; height:100px; position:absolute; left:0px; top:30px; z-index:150; }

#mobile-btn { display:none; width:50px; height:50px; position:absolute; right:10px; top:0px; }

nav.primary { width:60%; height:40px; position:absolute; right:0px; top:60px; font-size:17px; text-align:right; z-index:150; }

nav.primary a { color:#3c3d3d; margin-left:35px; line-height:40px; }

nav.primary a:hover { color:#b5d448; }

/* secondary navigation */

#secondary-nav { height:50px; width:100%; left:0px; top:-51px; position:fixed; z-index:200; background:url(../img/bg-secondarynav.png) repeat; border-bottom:1px solid #d9d9d9; }

nav.secondary { width:80%; position:absolute; right:0px; top:0px; height:50px; line-height:50px; text-align:right; }

nav.secondary a { color:#3c3d3d; margin-left:35px; line-height:40px; }

nav.secondary a:hover { color:#b5d448; }



/* 

-------------------------------------------------------------



MAIN CONTAINERS

*/

.bg-white { background:#ffffff; }

.bg-gray-light { background:#fafafa; }

.bg-gray-dark { background:#3c3d3d; }

.bg-green { background:#b5d448; }

/*.col2 { width:46.36%; float:left; margin-left:7.28%; }*/

.col2 { width:46.2727%; float:left; margin-left:7.4546%; }

.col2:first-child { margin:0px; }



/* 

-------------------------------------------------------------

QUOTE SLIDER

*/

.quote-slider { height:210px; border-top:1px dashed #cecece; margin-top:40px; position:relative; overflow:hidden; }

.quote-slider .slide { padding:30px 0px; width:100%; }

.quote-slider .slide-image { width:18%; float:left; }

.quote-slider .slide-text { width:77%; float:right; }

.quote-slider .slide-title { color:#9d9d9d; font-size:16px; display:block; margin-bottom:5px; }

.quote-slider .slide i { font-family:'Palatino', serif; font-style:italic; font-size:18px; line-height:26px; }

/* slider nav */

.quote-slider-nav { height:23px; width:100%; position:absolute; left:0px; bottom:0px; background:url(../img/bg-quotenav.png) center repeat-x; }

.quote-slider-nav .next { float:right; }

.quote-slider-nav .prev { float:left; }



/* 

-------------------------------------------------------------

DRIBBBLE FEED
 
*/

#dribbble-feed { padding:70px 0px; text-align:center; }

#dribbble-feed a { color:#ffffff; margin:0px 5px; }

#dribbble-feed a:hover { text-decoration:underline; }

#dribbble-feed a:hover img { border:7px solid #ffffff; }

#dribbble-feed img { width:13%; border:7px solid #cce181; }



/* 

-------------------------------------------------------------

POP UP

*/

.modal { position:absolute; top:0px; left:0px; z-index:450; background-image:url(../img/modal-blacktrans.png); background-repeat:repeat; display:none; }

.modal-main { position:relative; width:1100px; margin:auto; box-shadow:0px 0px 10px rgba(0,0,0,0.3); }

.modal-content { padding:40px; }

.modal-video { width:1100px; height:619px; margin-bottom:-5px; }

.modal-close { width:40px; height:40px; position:absolute; right:35px; top:35px; transition:opacity 0.1s linear; -webkit-transition:opacity 0.1s linear; -moz-transition:opacity 0.1s linear; opacity:0.5; }

.modal-close:hover { opacity:1; }



/* 

-------------------------------------------------------------

GENERAL

*/


h1 { font-family:'Open Sans Condensed', sans-serif; font-size:60px; line-height:60px; margin:0px; }

h1 span { color:#9d9d9d; font-family:'Sanchez', sans-serif; display:block; font-weight:normal; font-size:26px; line-height:46px; }

.clear { clear:both; }

.nomarg { margin:0px; }

.noborder { border:none; }

.line-sep { border-bottom:4px solid #e4e4e4; margin:20px 0px; width:80px; }

.noborder-right { border-right:none; }

.noborder-bottom { border-bottom:none; }

.noborder { border:none; }



/* 

-------------------------------------------------------------

GENERAL RESPONSIVE VIEWS

*/


/* tablet landscape view */

@media (max-width: 1150px) {

	.container { width:900px; }

	/* modal */

	.modal-main { width:900px; }

	.modal-video { width:900px; height:507px; }

}


/* tablet portrait view */

@media (max-width: 960px) {
		
	.container { width:700px; }

	.col2, .col2:first-child { width:509px; float:none; margin:0px; margin:0px auto; }

	/* modal */

	.modal-main { width:700px; }

	.modal-video { width:700px; height:394px; }

	/* navigation */

	nav.primary { font-size:15px; width:70%; }

	nav.primary a { margin-left:25px; }

	/* hide portrait elements */

	.hide-portait { display:none; }

	/* dribbble feed */

	#dribbble-feed img { width:12%; }

}


/* phone view */

@media (max-width: 767px) {

	.container { width:80%; }

	#logo { display:none; }

	.col2, .col2:first-child { width:100%; }

	/* modal */

	.modal-main { width:90%; }

	.modal-video { width:100%; height:350px; }

	

	/* navigation */

	#mobile-btn { display:block; }

	#primary-nav { position:fixed; height:50px; width:100%; z-index:200; background:url(../img/bg-secondarynav.png) repeat; border-bottom:1px solid #d9d9d9; }

	#primary-nav .logo-small { display:block; left:10px; }

	#primary-nav .container { width:100%; }

	#secondary-nav { display:none; }

	nav.primary { display:none; }

	nav.shownav { display:block; color:#ff0000; top:51px; left:0px; height:auto; width:100%; background:url(../img/bg-secondarynav.png) repeat; text-align:center; }

	nav.shownav a { display:block; line-height:50px; border-bottom:1px solid #d9d9d9; margin:0px; }

	/* hidden elements */

	.hide-mobile { display:none; }

	/* quote slider */

	.quote-slider .slide i { font-size:14px; line-height:20px; }

	
	/* rows */

	.row-fluid .span4, .row-fluid .span6 { width:100%; float:none; margin:0px; margin-bottom:30px; }

	/* dribbble feed */

	#dribbble-feed { padding:40px 0px; }

	#dribbble-feed img { width:38%; margin-bottom:10px; }

	/* general */

	h1 { font-size:35px; line-height:35px; }

	h1 span { font-size:16px; line-height:40px; }

}


/* smaller phone view */

@media (max-width: 479px) {

	/* modal */

	.modal-video { width:100%; height:250px; }

}